<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.fincore.pms.service.dal.dao.ProductTransferDao" >

    <resultMap id="BaseResultMap" type="com.zb.fincore.pms.service.dal.model.ProductTransfer" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="product_code" property="productCode" jdbcType="VARCHAR" />
        <result column="entrust_transfer_time" property="entrustTransferTime" jdbcType="SMALLINT" />
        <result column="transfer_lock_time" property="transferLockTime" jdbcType="SMALLINT" />
        <result column="procedure_fee_percent" property="procedureFeePercent" jdbcType="REAL" />
        <result column="low_principal_percent" property="lowPrincipalPercent" jdbcType="REAL" />
        <result column="low_interest_percent" property="lowInterestPercent" jdbcType="REAL" />
        <result column="low_input_amount" property="lowInputAmount" jdbcType="DECIMAL" />
        <result column="high_principal_percent" property="highPrincipalPercent" jdbcType="REAL" />
        <result column="high_interest_percent" property="highInterestPercent" jdbcType="REAL" />
        <result column="high_input_amount" property="highInputAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, product_id, product_code, entrust_transfer_time, transfer_lock_time, procedure_fee_percent, 
        low_principal_percent, low_interest_percent, low_input_amount, high_principal_percent, 
        high_interest_percent, high_input_amount, create_time, create_by, modify_time, modify_by
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from pms_product_transfer
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pms_product_transfer
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.zb.fincore.pms.service.dal.model.ProductTransfer" >
        insert into pms_product_transfer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="productId != null" >
                product_id,
            </if>
            <if test="productCode != null" >
                product_code,
            </if>
            <if test="entrustTransferTime != null" >
                entrust_transfer_time,
            </if>
            <if test="transferLockTime != null" >
                transfer_lock_time,
            </if>
            <if test="procedureFeePercent != null" >
                procedure_fee_percent,
            </if>
            <if test="lowPrincipalPercent != null" >
                low_principal_percent,
            </if>
            <if test="lowInterestPercent != null" >
                low_interest_percent,
            </if>
            <if test="lowInputAmount != null" >
                low_input_amount,
            </if>
            <if test="highPrincipalPercent != null" >
                high_principal_percent,
            </if>
            <if test="highInterestPercent != null" >
                high_interest_percent,
            </if>
            <if test="highInputAmount != null" >
                high_input_amount,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="modifyBy != null" >
                modify_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="productId != null" >
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productCode != null" >
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="entrustTransferTime != null" >
                #{entrustTransferTime,jdbcType=SMALLINT},
            </if>
            <if test="transferLockTime != null" >
                #{transferLockTime,jdbcType=SMALLINT},
            </if>
            <if test="procedureFeePercent != null" >
                #{procedureFeePercent,jdbcType=REAL},
            </if>
            <if test="lowPrincipalPercent != null" >
                #{lowPrincipalPercent,jdbcType=REAL},
            </if>
            <if test="lowInterestPercent != null" >
                #{lowInterestPercent,jdbcType=REAL},
            </if>
            <if test="lowInputAmount != null" >
                #{lowInputAmount,jdbcType=DECIMAL},
            </if>
            <if test="highPrincipalPercent != null" >
                #{highPrincipalPercent,jdbcType=REAL},
            </if>
            <if test="highInterestPercent != null" >
                #{highInterestPercent,jdbcType=REAL},
            </if>
            <if test="highInputAmount != null" >
                #{highInputAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                #{modifyBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zb.fincore.pms.service.dal.model.ProductTransfer" >
        update pms_product_transfer
        <set >
            <if test="productId != null" >
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productCode != null" >
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="entrustTransferTime != null" >
                entrust_transfer_time = #{entrustTransferTime,jdbcType=SMALLINT},
            </if>
            <if test="transferLockTime != null" >
                transfer_lock_time = #{transferLockTime,jdbcType=SMALLINT},
            </if>
            <if test="procedureFeePercent != null" >
                procedure_fee_percent = #{procedureFeePercent,jdbcType=REAL},
            </if>
            <if test="lowPrincipalPercent != null" >
                low_principal_percent = #{lowPrincipalPercent,jdbcType=REAL},
            </if>
            <if test="lowInterestPercent != null" >
                low_interest_percent = #{lowInterestPercent,jdbcType=REAL},
            </if>
            <if test="lowInputAmount != null" >
                low_input_amount = #{lowInputAmount,jdbcType=DECIMAL},
            </if>
            <if test="highPrincipalPercent != null" >
                high_principal_percent = #{highPrincipalPercent,jdbcType=REAL},
            </if>
            <if test="highInterestPercent != null" >
                high_interest_percent = #{highInterestPercent,jdbcType=REAL},
            </if>
            <if test="highInputAmount != null" >
                high_input_amount = #{highInputAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>