<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.payment.trade.dal.dao.CreditTransferDAO" >

    <resultMap id="BaseResultMap" type="com.zb.payment.trade.dal.model.CreditTransferEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="source_id" property="sourceId" jdbcType="VARCHAR" />
        <result column="cif_member_id" property="cifMemberId" jdbcType="VARCHAR" />
        <result column="buy_member_id" property="buyMemberId" jdbcType="VARCHAR" />
        <result column="buy_usr_cust_id" property="buyUsrCustId" jdbcType="VARCHAR" />
        <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
        <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
        <result column="bid_no" property="bidNo" jdbcType="VARCHAR" />
        <result column="bid_type" property="bidType" jdbcType="VARCHAR" />
        <result column="bid_order_no" property="bidOrderNo" jdbcType="VARCHAR" />
        <result column="bid_order_date" property="bidOrderDate" jdbcType="VARCHAR" />
        <result column="product_type" property="productType" jdbcType="VARCHAR" />
        <result column="sell_cif_member_id" property="sellCifMemberId" jdbcType="VARCHAR" />
        <result column="sell_member_id" property="sellMemberId" jdbcType="VARCHAR" />
        <result column="sell_usr_cust_id" property="sellUsrCustId" jdbcType="VARCHAR" />
        <result column="sell_account_no" property="sellAccountNo" jdbcType="VARCHAR" />
        <result column="credit_amt" property="creditAmt" jdbcType="DECIMAL" />
        <result column="transfer_amt" property="transferAmt" jdbcType="DECIMAL" />
        <result column="trade_status" property="tradeStatus" jdbcType="CHAR" />
        <result column="bank_return_url" property="bankReturnUrl" jdbcType="VARCHAR" />
        <result column="merchant_post_url" property="merchantPostUrl" jdbcType="VARCHAR" />
        <result column="page_type" property="pageType" jdbcType="VARCHAR" />
        <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, source_id, cif_member_id, buy_member_id, buy_usr_cust_id, account_no, ref_no, 
        bid_no, bid_type, bid_order_no, bid_order_date, product_type, sell_cif_member_id, 
        sell_member_id, sell_usr_cust_id, sell_account_no, credit_amt, transfer_amt, trade_status, 
        bank_return_url, merchant_post_url, page_type, trade_time, create_time, create_by, 
        modify_time, modify_by, version
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from core_credit_transfer
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from core_credit_transfer
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.zb.payment.trade.dal.model.CreditTransferEntity" >
        insert into core_credit_transfer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="sourceId != null" >
                source_id,
            </if>
            <if test="cifMemberId != null" >
                cif_member_id,
            </if>
            <if test="buyMemberId != null" >
                buy_member_id,
            </if>
            <if test="buyUsrCustId != null" >
                buy_usr_cust_id,
            </if>
            <if test="accountNo != null" >
                account_no,
            </if>
            <if test="refNo != null" >
                ref_no,
            </if>
            <if test="bidNo != null" >
                bid_no,
            </if>
            <if test="bidType != null" >
                bid_type,
            </if>
            <if test="bidOrderNo != null" >
                bid_order_no,
            </if>
            <if test="bidOrderDate != null" >
                bid_order_date,
            </if>
            <if test="productType != null" >
                product_type,
            </if>
            <if test="sellCifMemberId != null" >
                sell_cif_member_id,
            </if>
            <if test="sellMemberId != null" >
                sell_member_id,
            </if>
            <if test="sellUsrCustId != null" >
                sell_usr_cust_id,
            </if>
            <if test="sellAccountNo != null" >
                sell_account_no,
            </if>
            <if test="creditAmt != null" >
                credit_amt,
            </if>
            <if test="transferAmt != null" >
                transfer_amt,
            </if>
            <if test="tradeStatus != null" >
                trade_status,
            </if>
            <if test="bankReturnUrl != null" >
                bank_return_url,
            </if>
            <if test="merchantPostUrl != null" >
                merchant_post_url,
            </if>
            <if test="pageType != null" >
                page_type,
            </if>
            <if test="tradeTime != null" >
                trade_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="modifyBy != null" >
                modify_by,
            </if>
            <if test="version != null" >
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sourceId != null" >
                #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="cifMemberId != null" >
                #{cifMemberId,jdbcType=VARCHAR},
            </if>
            <if test="buyMemberId != null" >
                #{buyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="buyUsrCustId != null" >
                #{buyUsrCustId,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null" >
                #{accountNo,jdbcType=VARCHAR},
            </if>
            <if test="refNo != null" >
                #{refNo,jdbcType=VARCHAR},
            </if>
            <if test="bidNo != null" >
                #{bidNo,jdbcType=VARCHAR},
            </if>
            <if test="bidType != null" >
                #{bidType,jdbcType=VARCHAR},
            </if>
            <if test="bidOrderNo != null" >
                #{bidOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="bidOrderDate != null" >
                #{bidOrderDate,jdbcType=VARCHAR},
            </if>
            <if test="productType != null" >
                #{productType,jdbcType=VARCHAR},
            </if>
            <if test="sellCifMemberId != null" >
                #{sellCifMemberId,jdbcType=VARCHAR},
            </if>
            <if test="sellMemberId != null" >
                #{sellMemberId,jdbcType=VARCHAR},
            </if>
            <if test="sellUsrCustId != null" >
                #{sellUsrCustId,jdbcType=VARCHAR},
            </if>
            <if test="sellAccountNo != null" >
                #{sellAccountNo,jdbcType=VARCHAR},
            </if>
            <if test="creditAmt != null" >
                #{creditAmt,jdbcType=DECIMAL},
            </if>
            <if test="transferAmt != null" >
                #{transferAmt,jdbcType=DECIMAL},
            </if>
            <if test="tradeStatus != null" >
                #{tradeStatus,jdbcType=CHAR},
            </if>
            <if test="bankReturnUrl != null" >
                #{bankReturnUrl,jdbcType=VARCHAR},
            </if>
            <if test="merchantPostUrl != null" >
                #{merchantPostUrl,jdbcType=VARCHAR},
            </if>
            <if test="pageType != null" >
                #{pageType,jdbcType=VARCHAR},
            </if>
            <if test="tradeTime != null" >
                #{tradeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="version != null" >
                #{version,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zb.payment.trade.dal.model.CreditTransferEntity" >
        update core_credit_transfer
        <set >
            <if test="sourceId != null" >
                source_id = #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="cifMemberId != null" >
                cif_member_id = #{cifMemberId,jdbcType=VARCHAR},
            </if>
            <if test="buyMemberId != null" >
                buy_member_id = #{buyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="buyUsrCustId != null" >
                buy_usr_cust_id = #{buyUsrCustId,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null" >
                account_no = #{accountNo,jdbcType=VARCHAR},
            </if>
            <if test="refNo != null" >
                ref_no = #{refNo,jdbcType=VARCHAR},
            </if>
            <if test="bidNo != null" >
                bid_no = #{bidNo,jdbcType=VARCHAR},
            </if>
            <if test="bidType != null" >
                bid_type = #{bidType,jdbcType=VARCHAR},
            </if>
            <if test="bidOrderNo != null" >
                bid_order_no = #{bidOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="bidOrderDate != null" >
                bid_order_date = #{bidOrderDate,jdbcType=VARCHAR},
            </if>
            <if test="productType != null" >
                product_type = #{productType,jdbcType=VARCHAR},
            </if>
            <if test="sellCifMemberId != null" >
                sell_cif_member_id = #{sellCifMemberId,jdbcType=VARCHAR},
            </if>
            <if test="sellMemberId != null" >
                sell_member_id = #{sellMemberId,jdbcType=VARCHAR},
            </if>
            <if test="sellUsrCustId != null" >
                sell_usr_cust_id = #{sellUsrCustId,jdbcType=VARCHAR},
            </if>
            <if test="sellAccountNo != null" >
                sell_account_no = #{sellAccountNo,jdbcType=VARCHAR},
            </if>
            <if test="creditAmt != null" >
                credit_amt = #{creditAmt,jdbcType=DECIMAL},
            </if>
            <if test="transferAmt != null" >
                transfer_amt = #{transferAmt,jdbcType=DECIMAL},
            </if>
            <if test="tradeStatus != null" >
                trade_status = #{tradeStatus,jdbcType=CHAR},
            </if>
            <if test="bankReturnUrl != null" >
                bank_return_url = #{bankReturnUrl,jdbcType=VARCHAR},
            </if>
            <if test="merchantPostUrl != null" >
                merchant_post_url = #{merchantPostUrl,jdbcType=VARCHAR},
            </if>
            <if test="pageType != null" >
                page_type = #{pageType,jdbcType=VARCHAR},
            </if>
            <if test="tradeTime != null" >
                trade_time = #{tradeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>