<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.payment.trade.dal.dao.InvestDetailDAO" >

    <resultMap id="BaseResultMap" type="com.zb.payment.trade.dal.model.InvestDetailEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="cif_member_id" property="cifMemberId" jdbcType="VARCHAR" />
        <result column="parent_ref_no" property="parentRefNo" jdbcType="VARCHAR" />
        <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
        <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
        <result column="vouchers_no" property="vouchersNo" jdbcType="VARCHAR" />
        <result column="trade_amt" property="tradeAmt" jdbcType="DECIMAL" />
        <result column="pay_account_no" property="payAccountNo" jdbcType="VARCHAR" />
        <result column="trade_status" property="tradeStatus" jdbcType="CHAR" />
        <result column="sync_rsp_code" property="syncRspCode" jdbcType="VARCHAR" />
        <result column="sync_rsp_msg" property="syncRspMsg" jdbcType="VARCHAR" />
        <result column="aync_rsp_code" property="ayncRspCode" jdbcType="VARCHAR" />
        <result column="aync_rsp_msg" property="ayncRspMsg" jdbcType="VARCHAR" />
        <result column="aync_rsp_time" property="ayncRspTime" jdbcType="TIMESTAMP" />
        <result column="aync_ref_no" property="ayncRefNo" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, cif_member_id, parent_ref_no, ref_no, fee_type, vouchers_no, trade_amt, pay_account_no, 
        trade_status, sync_rsp_code, sync_rsp_msg, aync_rsp_code, aync_rsp_msg, aync_rsp_time, 
        aync_ref_no, create_time, create_by, modify_time, modify_by
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from core_invest_detail
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from core_invest_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.zb.payment.trade.dal.model.InvestDetailEntity" >
        insert into core_invest_detail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="cifMemberId != null" >
                cif_member_id,
            </if>
            <if test="parentRefNo != null" >
                parent_ref_no,
            </if>
            <if test="refNo != null" >
                ref_no,
            </if>
            <if test="feeType != null" >
                fee_type,
            </if>
            <if test="vouchersNo != null" >
                vouchers_no,
            </if>
            <if test="tradeAmt != null" >
                trade_amt,
            </if>
            <if test="payAccountNo != null" >
                pay_account_no,
            </if>
            <if test="tradeStatus != null" >
                trade_status,
            </if>
            <if test="syncRspCode != null" >
                sync_rsp_code,
            </if>
            <if test="syncRspMsg != null" >
                sync_rsp_msg,
            </if>
            <if test="ayncRspCode != null" >
                aync_rsp_code,
            </if>
            <if test="ayncRspMsg != null" >
                aync_rsp_msg,
            </if>
            <if test="ayncRspTime != null" >
                aync_rsp_time,
            </if>
            <if test="ayncRefNo != null" >
                aync_ref_no,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="modifyBy != null" >
                modify_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cifMemberId != null" >
                #{cifMemberId,jdbcType=VARCHAR},
            </if>
            <if test="parentRefNo != null" >
                #{parentRefNo,jdbcType=VARCHAR},
            </if>
            <if test="refNo != null" >
                #{refNo,jdbcType=VARCHAR},
            </if>
            <if test="feeType != null" >
                #{feeType,jdbcType=VARCHAR},
            </if>
            <if test="vouchersNo != null" >
                #{vouchersNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeAmt != null" >
                #{tradeAmt,jdbcType=DECIMAL},
            </if>
            <if test="payAccountNo != null" >
                #{payAccountNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeStatus != null" >
                #{tradeStatus,jdbcType=CHAR},
            </if>
            <if test="syncRspCode != null" >
                #{syncRspCode,jdbcType=VARCHAR},
            </if>
            <if test="syncRspMsg != null" >
                #{syncRspMsg,jdbcType=VARCHAR},
            </if>
            <if test="ayncRspCode != null" >
                #{ayncRspCode,jdbcType=VARCHAR},
            </if>
            <if test="ayncRspMsg != null" >
                #{ayncRspMsg,jdbcType=VARCHAR},
            </if>
            <if test="ayncRspTime != null" >
                #{ayncRspTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ayncRefNo != null" >
                #{ayncRefNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                #{modifyBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zb.payment.trade.dal.model.InvestDetailEntity" >
        update core_invest_detail
        <set >
            <if test="cifMemberId != null" >
                cif_member_id = #{cifMemberId,jdbcType=VARCHAR},
            </if>
            <if test="parentRefNo != null" >
                parent_ref_no = #{parentRefNo,jdbcType=VARCHAR},
            </if>
            <if test="refNo != null" >
                ref_no = #{refNo,jdbcType=VARCHAR},
            </if>
            <if test="feeType != null" >
                fee_type = #{feeType,jdbcType=VARCHAR},
            </if>
            <if test="vouchersNo != null" >
                vouchers_no = #{vouchersNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeAmt != null" >
                trade_amt = #{tradeAmt,jdbcType=DECIMAL},
            </if>
            <if test="payAccountNo != null" >
                pay_account_no = #{payAccountNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeStatus != null" >
                trade_status = #{tradeStatus,jdbcType=CHAR},
            </if>
            <if test="syncRspCode != null" >
                sync_rsp_code = #{syncRspCode,jdbcType=VARCHAR},
            </if>
            <if test="syncRspMsg != null" >
                sync_rsp_msg = #{syncRspMsg,jdbcType=VARCHAR},
            </if>
            <if test="ayncRspCode != null" >
                aync_rsp_code = #{ayncRspCode,jdbcType=VARCHAR},
            </if>
            <if test="ayncRspMsg != null" >
                aync_rsp_msg = #{ayncRspMsg,jdbcType=VARCHAR},
            </if>
            <if test="ayncRspTime != null" >
                aync_rsp_time = #{ayncRspTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ayncRefNo != null" >
                aync_ref_no = #{ayncRefNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>